body{
    background-color: #814d2e;
    font-family: 'Poppins';
    
}

header .contenedor{
    display: flex;
    justify-content: space-between;
    
}

li{
    list-style: none;
}

.contenedor{
    max-width: 1280px;
    width: 90%;
    margin: auto;
    
}

.contenedor2{
    margin-left: 60px;
    
}

footer{
    background-color: #4d230b;
    width: 100%;
    height: 100px;
    padding: 0;
    border: 0;
    display: flex;
    justify-content: space-between;
    position: static;
}

footer ul{
    display: flex;
    
}

footer ul li{
    margin-right: 20px;
    color: #cc9c7c;
    
}

footer p{
    margin-left: 20px;  
}

footer a{
    text-decoration: none;
    color: #814d2e;
}

header ul{
    display: flex;
}

header ul li{
    margin-right: 20px;
    color: #cc9c7c;
}



header p{
    color: #cc9c7c;
    font-weight: bold;
    font-size: 20px;
}

header a{
    text-decoration: none;
    color: #cc9c7c;
}

#encabezado{
    background: 
    url(Encabezado5.jpg);
    background-size: cover;
    padding: 270px 0;


}

h1{
    font-size: 80px;
    font-family: 'Lora';
    color: #a7a7a7;
    margin-bottom: 0;
    
}

#encabezado p{
    font-size: 22px;
    width: 50%;
    color: #8c8c8c;
    margin-bottom: 50px;
}

#encabezado a{
    text-decoration: none;
    color: #8c8c8c;
    border: 1px solid
    #8c8c8c;
    padding: 20px 40px 20px 40px;
    font-weight: bold;
    
}



