body,
html{
    height: 100%;
    box-sizing: border-box;
}

body{
    background-color: #ffffff;
    font-family: 'Poppins';
    
}



header .contenedor{
    display: flex;
    justify-content: space-between;
    
}

header ul{
    display: flex;
}

header ul li{
    margin-right: 20px;
    color: #661819;
    
}



header p{
    color: #661819;
    font-weight: bold;
    font-size: 25px;
}

header a{
    text-decoration: none;
    color: #661819;
}

main{
    min-height: 100%;
}

footer{
    background-color: #bbb8b6;
    width: 100%;
    height: 100px;
    padding: 0;
    border: 0;
    display: flex;
    justify-content: space-between;
    position: static;
}

footer ul{
    display: flex;
    
}

footer ul li{
    margin-right: 20px;
    color: #661819;
    
}

footer p{
    margin-left: 20px;  
}

footer a{
    text-decoration: none;
    color: #661819;
}

li{
    list-style: none;
}

.contenedor{
    max-width: 1280px;
    width: 90%;
    margin: auto;
    
}

.contenedor2{
    margin-left: 60px;
    
}

#encabezado{
    background: 
    url(Encabezado5.jpg);
    background-size: cover;
    padding: 270px 0;


}

h1{
    font-size: 80px;
    font-family: 'Lora';
    color: #a7a7a7;
    margin-bottom: 0;
    
}

#encabezado p{
    font-size: 22px;
    width: 50%;
    color: #8c8c8c;
    margin-bottom: 50px;
}

#encabezado a{
    text-decoration: none;
    color: #8c8c8c;
    border: 1px solid
    #8c8c8c;
    padding: 20px 40px 20px 40px;
    font-weight: bold;
    
}

/*PAGINA CONTACTO*/




/*PAGINA CATALOGO*/
.contenedor{
    width: min(90%, 120rem);
    margin: 0 auto;
}

.main-vinos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:1px;
    margin-top: 1rem;
}
.main-vinos__figure{
    text-align: center;
    padding: 1px;
    
    color: #661819;
    
}

.main-vinos__figure p{
    font-weight: bold;
}
.main-vinos__figure img{
    width: 100%;
    height: 90%;
    border-radius: 1rem;
    
}
.main-vinos__figure img:hover{
    transform: scale(1.04);
    cursor: pointer;
}

/*PAGINA CONTACTO*/
.main-contacto{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:2rem;
    justify-content: center;
    
}

.main-contacto__contenedor{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.main-contacto__datoscontacto, .main-contacto__datoscliente{
    display: flex;
    flex-direction: column;
    gap:1px;
}
.main-contacto a{
    text-decoration: none;
    color: #661819;
    border: 1px solid
    #661819;
    padding: 20px 40px 20px 40px;
    font-weight: bold;
}
.linea{
    border-top: 1px solid black;
    height: 10px;
    padding: 0;
    margin: 20px auto 0 auto;
}

.header__titulos{
   text-align: center;
   color: #661819;
   margin-bottom: 0px;
   line-height: 10px;
   
}

.header__titulos h1{
    color: #661819;
}

.main__datoscontactos{
    margin: 100px;
    line-height: 20px;
    justify-content:center;
    
}

.main__datoscontactos a{
    text-decoration: none;
    color: #661819;
    border: 1px solid
    #661819;
    padding: 20px 40px 20px 40px;
    font-weight: bold;
    
}
.main__datoscontactos h1, h2{
    font-size: 22px;
    width: 50%;
    color: #661819;
    margin-bottom: 10px;
    
    
}